html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.mainBody {
  width: 100%;
  min-height: 100vh;
}

.mainBody header {
  background: #0c5db8;
}

.mainBody .sidebar {
  background: #1c4784;
  height: auto;
  flex: 0 0 200px;
}

.mainBody .sidebar, .mainBody .sidebar .btn {
  color: #adb5bd;
}

.mainBody .sidebar .btn {
  padding: 0;
}

.mainBody .sidebar .btn:hover {
  color: #fff;
}

.messages {
  flex: 1 1 auto;
}

.message-area-wrapper {
  border-radius: 5px;
  border: 1px solid #1b1e21;
}

.message-area {
  resize: none;
  border: none;
}