html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.mainBody {
  width: 100%;
  min-height: 100vh;
}

.mainBody header {
  background: #0c5db8;
}

.mainBody .sidebar {
  background: #1c4784;
  height: auto;
  flex: 0 0 200px;
}

.mainBody .sidebar, .mainBody .sidebar .btn {
  color: #80858d;
}

header {
  color: #fefefe;
}

.mainBody .sidebar .btn.active {
  color: #adb5bd;
}

.mainBody .sidebar .btn {
  padding: 0;
}

.mainBody .sidebar .btn:hover {
  color: #fff;
}

.messages {
  flex: 1 1 auto;
}

.messages-list-container {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.message-area-wrapper {
  border-radius: 5px;
  border: 1px solid #1b1e21;
  width: 100%;
}

.message-area {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;

  width: 100%;
}

.new-channel-lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.new-channel-modal {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
}